{% for name in filtered_faculty2 %}
  {% capture ii %}{{ forloop.index0 | modulo: 3 }}{% endcapture %}

  {% for ll in site.data.faculty %}
    {% if name == ll.name %}
      {% assign item = ll %}
    {% endif %}
  {% endfor %}
  {% if ii == '0' %}
    <div class="row">
  {% endif %}
      <div class="col-sm-4">
        <div class="thumbnail">
          {% if item.faculty-image %}<img class="img-responsive" src="{{site.base_path}}/assets/headshots/{{item.faculty-image}}" alt="image">{% endif %}
          <div class="caption">
            <h3>{{item.name}}</h3>
            <h4>{{item.title}}, {{item.school-name}}</h4>
            <p><a href="mailto:{{item.email}}">{{item.email}}</a></p>
            <p>{{item.description}}</p>
            {% if item.lab_link %} <p><a href="{{item.lab_link}}" title="{{item.lab_link}}" target="_blank">{{item.lab_link}} <i class="fa fa-external-link"></i></a></p>{% endif %}
            <p>{% assign tt = item.tags | split:',' | sort | uniq %}{% for tag2 in tt %}<span class="badge">{{tag2}}</span> {% endfor %}</p>
          </div>
        </div>
      </div>
  {% if ii == '2' %}
    </div>
  {% endif %}

{% endfor %}

{% if ii != '2' %}
  </div>
{% endif %}
