<div class="col-md-4 col-sm-12 space-bot-md">
  <h2>{{site.organization_name}}</h2>
</div>
<div class="col-md-4 col-sm-12 space-bot-md">
  <p><a class="footer-logo-link" href="{{site.base_path}}/"><img class="img-responsive" style="margin: 0 auto;" src="{{site.base_path}}/assets/images/asu robotics logo_plain.svg" ></a></p>
</div>
<div class="col-md-4 col-sm-12 space-bot-md">
<p class="text-right">
<a class="footer-link" target="_blank" href="http://www.public.asu.edu/~daukes/astril/http___robotics.asu.edu_/robotics.asu.edu/index.html">old ASTRIL page <i class="fa fa-external-link" aria-hidden="true"></i></a>
</p>
</div>
