<div class="col-md-4 col-sm-12 space-bot-md">
  <h2>{{site.organization_name}}</h2>
</div>
<div class="col-md-4 col-sm-12 space-bot-md">
  <p><a class="footer-logo-link" href="{{site.base_path}}/"><img class="img-responsive" style="margin: 0 auto;" src="{{site.base_path}}/assets/images/asu_robotics_logo_plain.svg" ></a></p>
</div>
<div class="col-md-4 col-sm-12 space-bot-md">
  <h2 class="text-right">External Links</h2>
  <ul class="text-right">
    <li><a class="footer-link" href="https://fullcircle.asu.edu/?s=robotics" target="_blank" title="News">Full Circle Robotics News <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
  </ul>
</div>
