<div class="col-md-4 col-sm-12 space-bot-md">
  <h2>{{site.organization_name}}</h2>
  <address>
    {%for item in site.address%}
      {{item}}<br>
    {%endfor%}
    Phone: <a class="phone-link" href="tel:{{site.phone}}" id="phone-link-in-footer">{{site.phone}}</a>
  </address>
  <p>
    <a class="contact-link" href="mailto:{{site.email}}" id="contact-us-link-in-footer">Contact Us</a>
  </p>  
  <a class="btn btn-primary" href="https://giving.asu.edu/" id="contribute-button-in-footer">Contribute</a>            
</div>
<div class="col-md-4 col-sm-12 space-bot-md">
<a class="footer-logo-link" href="{{site.base_path}}/"><img class="img-responsive" src="{{site.base_path}}/assets/images/asu robotics logo_plain.svg" ></a>
</div>
<div class="col-md-4 col-sm-12 space-bot-md">
<a class="footer-link" target="_blank" href="http://www.public.asu.edu/~daukes/astril2/http___robotics.asu.edu_2/index-2.html">old ASTRIL page <i class="fa fa-external-link" aria-hidden="true"></i></a>
</div>
